ansible==2.10.3
ansible-base==2.10.3
attrs==20.3.0
certifi==2019.11.28
cffi==1.14.3
chardet==3.0.4
cryptography==3.2.1
decorator==4.4.2
idna==2.9
importlib-metadata==3.4.0
ipython-genutils==0.2.0
Jinja2==2.11.2
joblib==0.14.1
jsonschema==3.2.0
jupyter-core==4.7.1
jupytext==1.10.1
markdown-it-py==0.6.2
MarkupSafe==1.1.1
mdit-py-plugins==0.2.5
nbformat==5.1.2
numpy==1.18.2
packaging==20.4
pandas==0.25.3
pycparser==2.20
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2019.3
PyYAML==5.3.1
requests==2.1.0
scikit-learn==0.22.2.post1
scikit-multilearn==0.2.0
scipy==1.4.1
six==1.14.0
sklearn==0.0
toml==0.10.2
traitlets==4.3.3
typing-extensions==3.7.4.3
urllib3==1.25.8
zipp==3.4.0
